!devbox.*
node_modules/
yarn.lock
garage/meta/*
garage/data

dist/
dev-dist/
tsconfig.tsbuildinfo
.rollup.cache

# CSS internals
packages/css-storage-fixture/test/.internal/idp
packages/css-storage-fixture/test/.internal/locks
packages/css-storage-fixture/test/.internal/forgot-password
packages/css-storage-fixture/test/.internal/notifications
packages/css-storage-fixture/test/.internal/accounts/cookies
packages/css-storage-fixture/test/.internal/accounts/index/clientCredentials

# OS
.DS_Store

# logs
*.log

# local env files
.env.local
.env.*.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.turbo

traefik/certs/*
