name: CI
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Use Node.js 24.x
        uses: actions/setup-node@v4
        with:
          node-version: 24.x
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Install dependencies
        run: npm install
      - name: Build packages
        run: npm run build
      - name: Run tests
        run: npm run test
      - name: Install id dependencies
        run: npm install
        working-directory: services/id
      - name: Integration tests
        uses: dagger/dagger-for-github@v8.2.0
        with:
          version: "latest"
          args: test
          cloud-token: ${{ secrets.DAGGER_CLOUD_TOKEN }}
